@font-face {
	font-family: "Museo Sans";
	src: url("fonts/MuseoSansLight.ttf");
}

body {
  margin: 0;
  padding: 0;
}

section {
  margin: 0;
  padding: 30px 0;
}

a {
  color: #626c87;
}

a:hover {
  color: #ffcc80;
  text-decoration: none;
}

#home {
  background-attachment: fixed;  
  background-image: url(images/hello_bg.jpg);
  background-position: center top;      
  background-repeat: no-repeat;
  background-size: 100% 539px;
  -moz-background-size: 100% 539px;
  -webkit-background-size: 100% 539px;
  -o-background-size: 100% 539px;
  height: 539px;  
}

.home-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%); 
}

.home-greeting {
  color: white;
  font-family: "Museo Sans";
  text-align: center;
}

.home-greeting-primary {
  font-size: 50px;
  padding: 5px;
}

.home-greeting-seconday {
  font-size: 20px;
}

.photo {  
  height: 161px;  
  margin: 0 auto;  
  overflow: hidden;  
  text-align: center;
  width: 139px;
}

.clip {  
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);  
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

h1 {  
  font-family: "Museo Sans";
  font-size: 40px;  
}

.header {
  padding: 30px 0 10px 0;  
  text-align: center;  
}

h2 {
  font-family: "Museo Sans";
  font-size: 30px;  
}

.subheader {
  margin: 0;
  text-align: center;
}

.header::before {
  content: "{ ";
}

.header::after {
  content: " }";
}

.gray {
  color: #8d93a5;
}

.gold {
  color: #ffcc80;
}

.default {
  color: #626c87;
}

.blue {
  color: #525d7c;
}

.inline-list {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.inline-list > li {
  display: inline-block;
  font-size: 18px;
}

.tech-icons {
  color: #707070;
  max-width: 1100px;  
}

.tech-icons > li {
  background-position: center top;
  background-repeat: no-repeat;
  height: 50px;    
  padding: 55px 20px 40px 20px;
}

.js-icon {
  background-image: url(images/js.png);
  width: 100px;
}

.node-icon {
  background-image: url(images/node.png);
  width: 180px;
}

.react-icon {
  background-image: url(images/react.png);
  width: 140px;
}

.ios-icon {
  background-image: url(images/ios.png);
  width: 220px;  
}

.ror-icon {
  background-image: url(images/rails.png);
  width: 160px;  
}

.phoenix-icon {
  background-image: url(images/phoenix.png);
  width: 120px;  
}

.android-icon {
  background-image: url(images/android.png);
  width: 220px;  
}

.c-icon {
  background-image: url(images/clang.png);
  width: 140px;  
}

#soft-skills {
  background-color: #525d7c;
}

.soft-icons {
  color: white;
}

.soft-icons > li {
  background-position: center top;    
  background-repeat: no-repeat;
  height: 60px;
  padding: 60px 20px 40px 20px;    
}

.teamlead-icon {
  background-image: url(images/teamlead.png);
  width: 140px;    
}

.architect-icon {
  background-image: url(images/architect.png);
  width: 180px;    
}

.conferences {
  margin-top: 30px;
}

.conferences > li {
  background-position: center top;
  background-repeat: no-repeat;
  margin: 0 30px;
  padding:70px 30px 40px 30px;
  vertical-align: top;
}

.teched-icon {
  background-image: url(images/sapteched.png);
  width: 240px;      
}

.heisenbug-icon {
  background-image: url(images/heisenbug.png);
  width: 240px;      
}

.agent-sh-icon {
  background-image: url(images/agent.png);
  width: 200px;        
}

.sm-icon::before {
  content: url(images/sm.png);
  padding-right: 5px;
}

.habr-icon::before {
  content: url(images/habr.png);
  padding-right: 5px;
}

.codeproject-icon::before {
  content: url(images/codeproject.png);
  padding-right: 5px;  
}


.article-list > li {
  font-size: 20px;
  padding: 20px 50px;
}

@media (max-width:1023px) {
  #geography {
    display: none;
  }
}

#geography {
  background-color: #525d7c;
}

#awards {
  background-color: #525d7c;
}

.map-block {
  padding: 50px 0;  
  text-align: center;
}

#contacts {
  background-color: #ffcc80;
}

.subsection {
  padding: 40px 0;
}

.subsection:nth-child(2) {
  padding-top: 0;
}

.subsection:nth-child(odd) {
  background-color: #f9f9f9;
}

.customer-list {
  margin-bottom: 80px;  
  max-width: 960px;
}

.customer-list > li {
  padding: 25px;
}

.contact-list {  
  margin-bottom: 20px;
}

a.social-url {
  text-decoration: none;
}

.social-url > svg {
  fill: currentColor;  
  height: 32px;
  padding: 0 10px;  
}

.footer-email > a:hover,
.social-url:hover {
  color: #f9f9f9;
}

.footer-email {
  font-size: 18px;
  margin-bottom: 90px;  
  text-align: center;  
}

.award-list {
  margin-bottom: 40px;
}

.award-list > li {
  padding: 30px;
}

.award-title {
  padding-top: 10px;
  vertical-align: top;
}

.award-title > a {
  color: white;  
}

.startup-list > li {
  padding: 30px;
}

.startup-title {
  font-size: 22px;
}

.startup-subtitle {
  color: #666;
}

.startup-logo {
  padding: 10px;
}

.startup-role {
  font-style: italic;
}

